@import "mixins";

#ekho-container {
  p.speech {
    @include border-radius(30px);
    @include box-shadow(2px, 2px, 4px, #888);
    position: relative;
    width: 200px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: #fff;
    border: 8px solid #666;
  }
  p.speech:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 30px;
    top: 100px;
    border: 25px solid;
    border-color: #666 transparent transparent #666;
  }
  p.speech:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 38px;
    top: 100px;
    border: 15px solid;
    border-color: #fff transparent transparent #fff;
  }
  input {
    margin-top: 10px;
    width: 175px;
    height: 80px;
  }
  #ekho-ui {
    @include border-radius(100%);
    @include transition(background-color, 0.5s, ease);
    @include box-shadow(0, 1px, 1px, #ebebeb);
    background: #AEFF79;
    width: 75px;
    height: 75px;
  }
  #ekho-ui.error {
    background: #e74c3c;
  }
}
