#ekho-container {
  /*-------------------------------------*/
  /*-------------------------------------*/
  /*-------------------------------------*/ }
  #ekho-container form#search {
    position: absolute;
    right: 38px;
    top: 10px; }
  #ekho-container #search label {
    display: none; }
  #ekho-container #search #text-field, #ekho-container #search #button-field {
    position: absolute; }
  #ekho-container #search #button-field input[type=submit] {
    padding: 0;
    margin: 0;
    border: 0px;
    border-radius: 22px;
    position: absolute;
    left: 3px;
    top: 3px;
    height: 22px;
    width: 22px;
    outline: none;
    color: white;
    font-size: 1em;
    font-family: inconsolata, monospace;
    text-indent: 28px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    background: #880000 url() no-repeat 0 0;
    transition: all .4s ease; }
  #ekho-container #search input[type=text] {
    padding: 0;
    margin: 0;
    border: 2px solid #990000;
    border-radius: 28px;
    height: 28px;
    width: 28px;
    outline: none;
    color: white;
    font-size: 1em;
    font-family: inconsolata, monospace;
    text-indent: 28px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    /*background: $search-normal-bg url() no-repeat 0 0;*/
    transition: all .4s ease; }
  #ekho-container #search input[type=text]:focus {
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3), 0 0 2px rgba(255, 255, 255, 0.3), inset 0 0px 0px rgba(0, 0, 0, 0.3);
    background-color: #990000;
    width: 200px; }
